{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Acerca de nosotros{% endblock %}
{% block contenido %}
<div id="about-us">
	<img id="logo" class="img-responsive center-block" src="{% static 'img/logo-v.png' %}" alt="logo"/>
	<div id="descripcion-site">
		<p class="center-block"> Pagina web diseñada para proporcionar a la comunidad de estudiantes de ESPOL
			una forma rapida y sencilla de consultar los distintos menus que se sirven dia
			a dia en los  restaurantes de la universidad, adicionalmente se proporciona una herramienta para ubicar los resturantes desde la ubicacion actual del usuario.
		</p>
		<p id="desa" class="center-block">DESARROLLADORES</p>
		<div id="desarrolladores" class="row">
			<div class="perfil col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<img class="foto img-responsive center-block" src="{% static 'img/johan.png' %}" alt="johan-imagen">
				<h4>Johan Canales</h4>
			</div>
			<div class="perfil col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<img class="foto img-responsive center-block" src="{% static 'img/luis.png' %}" alt="luis-imagen">
				<h4>Luis Zuñiga</h4>
			</div>
			<div class="perfil col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<img class="foto img-responsive center-block" src="{% static 'img/johan.png' %}" alt="johan-imagen">
				<h4>Anni Santacruz</h4>
			</div>
			<div class="perfil col-lg-3 col-md-3 col-sm-6 col-xs-6">
				<img class="foto img-responsive center-block" src="{% static 'img/johan.png' %}" alt="johan-imagen">
				<h4>Daniel Castro</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extraScript %}
	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
{% endblock %}