<!Doctype html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Comedores de la ESPOL | {% block titulo %}{% endblock %}</title>
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/estilo.css" %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
		{% block ExtraStyle %}{% endblock %}
	</head>
	<body id="sesion">
		<nav class="navbar navbar-default">
				<div class="container-fluid" id="barra">
					<ul>
					  <li><a class="active" href="{% url 'FoodFinder:moderador' %}">Inicio</a></li>
					  {% if usuario.tipo == "moderador" %}
					  <li><a href="#">Usuarios Conectados</a></li>
					  <li><a href="{% url 'FoodFinder:comentarios' %}">Comentarios</a></li>
					  {% endif %}
					  {% block extraMenu %}{% endblock %}
					  <li style="float:right"><a href="{% url 'FoodFinder:cerrarSesion'%}"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
					  {% if usuario.tipo == "moderador" %}
					  <li class="dropdown" style="float:right">
					    <a href="" class="dropbtn"><span class="glyphicon glyphicon-user"></span> Sandrita</a>
					    <div class="dropdown-content" id="config">
					      <a href="#">Ver perfil</a>
					      <a href="#">Configurar</a>
					    </div>
					  </li>
					  {% endif %}
					</ul>
				</div>
				<!--div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="login-comd.html">Cerrar Sesion<span class="sr-only">(current)</span></a></li>
					</ul>
				</div-->
			<!--/div-->
		</nav>
		<main>
			<div class="container">
				<div class="jumbotron">
					{% block Encabezado %}{% endblock %}
				</div>
				<div class="row sesionBase" style="padding-top: 20px; padding-bottom: 40px; ">
					{% block contenido %}{% endblock %}
				</div>
			</div>
			<div class="footer" style="height: 100px">

			</div>
		</main>
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		<script src="{% static "js/index.js" %}"></script>
		<script src="{% static "js/sesion-forms.js" %}"></script>
		{% block ExtraScript %}{% endblock %}
	</body>
</html>
