{% extends "FoodFinder/BaseSesion.html" %}
{% load static %}
{% block titulo %}Moderador{% endblock %}
{% block Encabezado %}
	<h1>Comentarios</h1>
{% endblock %}
{% block ExtraStyle %}
<link href="{% static 'css/comentarios.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block contenido %}

<div class="col-lg-6 col-md-6" div="comentarios">
    {% for com in comentarios %}
    <button class="editar" id="{{ com.id }}"><i class="fa fa-edit"></i></button>
    <button class="aceptar" id="{{ com.id }}"><i class="fa fa-check"></i></button>
    <button class="eliminar" id="{{ com.id }}"><i class="fa fa-close"></i></button>
    <div class="comentario" id="{{com.id}}">
        <h4>{{ com.comedor.nombre }}</h4>
		<h5>De: {{ com.usuario.nombreUsu }}</h5>
		<p>{{ com.comentario }}</p>
    </div>
    {% endfor %}
</div>

<div class="col-lg-6 col-md-6" id="div_editar">
    <form role="form" action="" method="POST">{% csrf_token %}
        <input type="hidden" name="idComedor" id="idComedor">
        <div>
            <h3>Editar comentario</h3>
        </div>
        <div class="form-group">
            <label id="comedor"></label>
        </div>
        <div class="form-group">
            <label id="usuario"></label>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="7" name="comentario" id="comentario" pattern=".{0,1000}"></textarea>
        </div>
        <button type="submit" class="btn btn-default center-block">Aceptar</button>
    </form>
</div>
{% endblock %}
{% block ExtraScript %}
<script>
$(document).ready(function(){
    $(".editar").click(function(){
        var id=this.id;
        $("#idComedor").attr("value",id);
        jQuery.ajax({
            url: "/FoodFinder/editarComentario/",
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'idComentario': id
            },
            dataType: "json",
            success: function (data) {
                document.getElementById("usuario").innerHTML=data["usuario"];
                document.getElementById("comedor").innerHTML=data["comedor"];
                document.getElementById("comentario").innerHTML=data["comentario"];
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });
        $("#div_editar").show();
    });

});
</script>
{% endblock %}
