{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}{{ nombre }}{% endblock %}
{% block extraStyle %}
<link href="{% static 'css/comedor.css' %}" rel="stylesheet"/>
{% endblock %}
{% block contenido %}
<div class="row">
	{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}

	<div class="info-comedor col-lg-12">
		<h2>{{ nombre }}</h2>
		<h4>{{ tipo }}</h4><hr>
	</div>
	<div class="info-comedor col-lg-12">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<ul>
					<li><span class="glyphicon glyphicon-map-marker"></span> {{ facultad }}</li>
					<li><span class="glyphicon glyphicon-cutlery"></span> {{ descripcion }}</li>
					<li><span class="glyphicon glyphicon-time"></span> Horario: {{ hora_ini }} - {{ hora_fin }}</li>
					<li><span class="glyphicon glyphicon-usd"></span> Promedio de Precios: $3.00</li>
					{% if ayudantes %}
						<li><span class="glyphicon glyphicon-ok"></span> Aceptamos Ayudantes</li>
					{% endif %}
					<li><a href="{% url 'FoodFinder:comedoresC' %}">Buscar en mapa</a></li>
				</ul>
			</div>
			<div class="col-lg-6 col-sm-6">
				<img class="logo-facultad center-block img-responsive" src="{% static logo %}" alt="logo-facultad">
			</div>
		</div>
	</div>
	<div class="row" style="float: left;">
		<div class="platillos-disp col-md-12 col-lg-12">
			<h3>Platillos disponibles</h3>
			<div class="platillos">
				{% if platillo|length != 0 %}
				{% for platillo in platillos %}
					{% if platillo.comedor.nombre == nombre %}
					<div class="platillo" data-precio="{{ platillo.precio }}" data-disponible="si">
						<div class="desc">
							<a href="{% url 'FoodFinder:platillo' platillo.id %}"><h4>{{ platillo.titulo }}</h4></a>
							<ul>
								<li><span class="glyphicon glyphicon-usd"></span> {{ platillo.precio }}</li>
								<li><span class="glyphicon glyphicon-cutlery"></span> {{ platillo.tipo }}</li>
								{% if platillo.cantidad %}
								<li><span class="glyphicon glyphicon-ok"></span> Disponible</li>
								{% endif %}
							</ul>
						</div>
						<img src="{% static platillo.imagen  %}" alt="logo" width="200" />
					</div>
					{% endif %}
				{% endfor %}
				{% else %}
					<h5>No existen platillos disponibles</h5>
				{% endif %}
			</div>
		</div>
		<div id="formulario" class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
			<form role="form" action="{% url 'FoodFinder:guardarComentario' %}" method="POST">{% csrf_token %}
				<input id="comId" type="text" name="comId" value='{{ comId }}' />
				<div>
					<h3>Comentario</h3>
				</div>
				<input type="hidden" value="{{usuario.id}}" name="usuarioId"/>
				<div class="form-group">
					<textarea class="form-control" rows="7" name="comentario" pattern=".{0,1000}"></textarea>
				</div>
				<button type="submit" class="btn btn-default center-block enviar">Enviar{{ action }}</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5 col-md-5">
		<h3>Comentarios</h3>
		{% for comentario in comentarios %}
			{% if comentario.comedor.nombre == nombre %}
			<div class="comentario">
				<h4>{{ comentario.usuario.nombreUsu }}</h4>
				<p>{{ comentario.comentario }}</p>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block extraScript %}
<!-- JAVASCRIPT -->
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
{% endblock %}
