{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Comedores por facultad{% endblock %}
{% block extraStyle %}
<link href="{% static 'css/comedores-facultad.css' %}" rel="stylesheet"/>
{% endblock %}
{% block contenido %}
<div id="comedores" class="container">
	<h1 id="titulo">Comedores por facultad</h1>
	{% for comedor in comedores %}
	<div class="comedor col-lg-3 col-sm-3 col-md-4 col-xs-6">
      	<img class="logo-facultad" src="{% static comedor.facultad.logo %}" alt="logo-facultad">
      	<div class="caption">
	        <h3 class="nombre">{{ comedor.nombre }}</h3>
	        <p class="tipo">Tipo: {{ comedor.tipo }}</p>
	        <p>Horario: {{ comedor.hora_ini }} - {{ comedor.hora_fin }}</p>
	     </div>
        <div class="botoninfo">
	      	<p class="mas-info"><a href="comedor-neo.html" class="btn btn-primary" role="button">Mas Info</a></p>
	    </div>
	</div>
	{% endfor %}
</div>
{% endblock %}