{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Contacto{% endblock %}
{% block contenido %}
<div id="about-us">
	{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
	<img id="logo" class="img-responsive center-block" src="{% static 'img/logo-v.png' %}" alt="logo"/>
   	<div class="container">
	 	<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
			<div class="form-area">
				<form method="POST" action="{% url 'FoodFinder:contacto' %}">{%csrf_token%}
				 	<br style="clear:both">
                    <h3 id="contacto-header" style="margin-bottom: 25px; text-align: center;">Contactanos</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombres" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Correo Electronico" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" required>
					</div>
                    <div class="form-group">
                    	<textarea class="form-control" type="textarea" id="message" name="message" placeholder="Mensaje" maxlength="250" rows="7"></textarea>
                    </div>
					<button type="submit" id="submit" name="submit" class="btn btn-default center-block">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extraScript %}
<script type="text/javascript">
	window.onload = function(){
	    if('{{notice}}' == 'Gracias por contactarnos!'){
	    	alert('{{notice}}');
	    }
	}
</script>
{% endblock %}
