{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Denuncia{% endblock %}
{% block extraStyle %}
<link href="{% static 'css/denuncia.css' %}" rel="stylesheet">
{% endblock %}
{% block contenido %}
<div class="container">
	{% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}

	<img id="logo" class="img-responsive center-block" src="{% static 'img/logo-v.png' %}" alt="logo"/>
	<div id="formulario" class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
		<form role="form" action="{% url 'FoodFinder:guardarDenuncia' %}" method="POST">{% csrf_token %}
			<div>
				<h3>Denuncia</h3>
			</div>
			<div class="form-group">
				<label>Comedor:</label>
				<select class="form-control" name="comedor">
					{% for c in comedores %}
					<option>{{ c.nombre }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label>Fecha del incoveniente:</label>
				<input class="form-control" type="date" id="fecha_den" name="fecha_den" max="2017-08-11"/>
			</div>
			<div class="form-group">
				<label>Denuncia:</label>
				<textarea class="form-control" rows="7" name="denuncia" pattern=".{0,1000}"></textarea>
			</div>
			<button type="submit" class="btn btn-default center-block">{{ action }}</button>
		</form>
	</div>
</div>
{% endblock %}
{% block extraScript %}
<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("fecha_den").setAttribute("max", today);
</script>
{% endblock %}
