{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Denuncia{% endblock %}
{% block contenido %}
<form action="{% url 'FoodFinder:guardarDenuncia' %}" method="POST">
	{% crsf token %}
	<h1>Denuncia</h1>
	<div class="form-group">
		<label>Comedor:</label>
    	<select class="form-control" name="comedor">
    	{% for c in comedores %}
    		<option>{{ c.nombre }</option>
    	{% endfor %}
    	</select>
	</div>
		<label>Fecha del incoveniente:</label>
    	<input type="date" name="fecha_den">
	</div>
	<div class="form-group">
		<label>Denuncia:</label>
    	<textarea class="form-control" rows="5" name="denuncia" pattern=".{0,1000}"></textarea>
	</div>
	<button type="submit" class="btn btn-default">{{ action }}</button>
</form>
{% endblock %}
