{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}FoodFinder{% endblock %}
{% block contenido %}
<div id="filtro-search">
	<p id="buscar"><span class="glyphicon glyphicon-search" ></span> Buscar por: </p>
	<button type="button" onclick="filtro('data-precio','des')" class="btn busqueda"> Precio </button>
	<button type="button" onclick="filtro('data-distancia','asc')" class="btn busqueda">Valoracion</button>
	<button type="button" onclick="filtro('data-disponible','asc')" class="btn busqueda"> Disponibles </button>
</div>
<div class="platillos-del-dia">
	{% for plato in platillos %}
	<div class="platillo" data-precio="{{plato.precio}}" data-disponible="si" data-distancia="{{plato.valoracion}}">
		<div class="desc">
			<a href="{% url 'FoodFinder:platillo' plato.id %}"><h4>{{plato.titulo}}</h4></a>
			<ul>
				<li></span> <b>Precio:</b> {{plato.precio}}</li>
				<li><span class="glyphicon glyphicon-star"></span> <b>Puntuación: </b>{{plato.valoracion}}</li>
				<li><span class="glyphicon glyphicon-ok"></span> Disponible</li>
				{% if usuario.tipo == "cliente" %}
				<li><a href="{% url 'FoodFinder:valoracion' %}">Valorar</a></li>
				{% endif %}
			</ul>
		</div>
		{% if  plato.imgPlatillo %}
						<img src="{{ plato.imgPlatillo.url }}" alt="logo" width="200" style="height: 200px" />
						{% else %}
						<img src="{% static 'img/NoImage.jpg' %}" alt="logo" width="200" style="height: 200px" />
					{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
