<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Galeria de platos</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/estilo.css" rel="stylesheet">
		<link href="css/est-comed.css" rel="stylesheet">
		<link href="galereya/css/jquery.galereya.css" rel="stylesheet"/>
		<script
		  src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>
		<script src="galereya/js/jquery.galereya.js"></script>
   	    <script src="galereya/js/jquery.galereya.min.js"></script>
   	    
   	    <script>
	        $(function() {
	            $('#galleryherepls').galereya();
	        });

	    </script>
	    
		
	</head>
	<body>
		<nav class="navbar navbar-default sidebar">
			<div id="franja"></div>
			<div class="container-fluid">
				<div class="navbar-header">
					<div id="food-logo" >
						<img src="img/logo-v.png" alt="logo" style="width:90%;" />
					</div>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1" >
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="photoGallery.html">Galeria de Platillos</a></li>
						<li><a href="comedores-cercanos.html">Comedores Cercanos</a></li>
						<li><a href="comedoresFacultad.html">Comedores por Facultad</a></li>
						<li><a href="mejores-platos.html">Mejores Platos</a></li>
						<li><a href="about.html">Nosotros</a></li>
						<li><a href="time.html">Nuestra historia</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
			<div id="encabezado">
				<h1> Conoce tus opciones </h1>
				<h3> COMEDORES DE LA ESPOL </h3>
			</div>
			<div id="galleryherepls">
			  	
			  		<img src="gallery/photo-1.jpg"
			  			alt="Arroz con Pollo"
        	    		title="Arroz con Pollo"
        	    		data-desc="Comedor Neo - Fiec "
        	    		data-category="Pollo"
        	    		data-fullsrc="gallery/photo-1.jpg" 
        	        />   
        		     
               
		        <img src="gallery/photo-2.jpg"
		            alt="Seco de Pollo"
		            data-desc="Comedor Coca-Cola"
		            data-fullsrc="gallery/photo-2.jpg"
		            data-category="Pollo"
		        />


		        <img src="gallery/photo-3.jpg"
		            alt="Arroz con menestra y chuleta"
		            data-desc="Example"
		            data-fullsrc="gallery/photo-3.jpg"
		            data-category="Carne"
		        />

		        <img src="gallery/photo-4.jpg"
		            alt="Bistec de Carne"
		            data-desc="Comedor Maritima"
		            data-fullsrc="gallery/photo-4.jpg"
		            data-category="Carne"
		        />
		        <img src="gallery/photo-5.jpeg"
		            alt="Fritada de Cerdo"
		            data-desc="Comedor Mecanica"
		            data-category="Carne"
		            data-fullsrc="gallery/photo-5.jpeg"
		        />
		        <img src="gallery/photo-6.jpeg"
		            alt="Menestra de Lenteja"
		            data-desc="Comedor EDCOM"
		            data-category="Pollo"
		            data-fullsrc="gallery/photo-6.jpeg"
		        />

		        <img src="gallery/photo-7.jpg"
        	    alt="Encebollado de Pescado"
        	    title="Encebollado de Pescado"
        	    data-desc="Encebollado de Pescado"
        	    data-category="Mariscos"
        	    data-fullsrc="gallery/photo-7.jpg" />

        	     <img src="gallery/photo-10.jpg"
        	    alt="Pescado Frito"
        	    title="Pescado Frito"
        	    data-desc="Comedor Mecanics"
        	    data-category="Mariscos"
        	    data-fullsrc="gallery/photo-10.jpg" />  


		    </div> 
		</div>
		<script src='photobox/jquery.photobox.js'></script>
	</body>
</html>