{% extends "FoodFinder/BaseSesion.html" %}
{% load static %}
{% block titulo %}Moderador{% endblock %}
{% block Encabezado %}
	<h1>Bienvenido</h1>
	<p>{{ hello.nombre }} - Moderador</p>
{% endblock %}
{% block contenido %}
<div class="col-md-6">
	<div>
		<h3> Denuncias Reportadas</h3><br>
		<div>
			<table id="tablaQuery" class="display">
			    <thead>
			        <tr>
			            <th>Fecha</th>
			            <th>Comedor</th>
			            <th>Quejas y denuncias</th>
			        </tr>
			    </thead>
			    <tbody>
			        {% for d in denuncias %}
			        	<tr>
			        		<td>{{ d.comedor }}</td>
			        		<td>{{ d.fecha_den }}</td>
			        		<td>{{ d.denuncia }}</td>
			        	</tr>
			        {% endfor %}
			        
			    </tbody>
			</table>					
		</div>
	</div>
</div>
<div class="platillos-disp col-md-5">
	<h3>Numero de Denuncias por Comedores</h3><br>
	<div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Denuncias', 'Comedores'],
  {% for c,n in denunciasDic.items %}
  ['{{c}}',{{n}}],
  {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
{% endblock %}