{% extends "FoodFinder/BaseSesion.html" %}
{% load static %}
{% block titulo %}Administrador{% endblock %}
{% block ExtraStyle %}
<link href="{% static "css/estilo-sesion-comedor.css" %}" rel="stylesheet">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block Encabezado %}
	<h1 class="comedorAdmin" data-pk="{{ comedor.pk }}" data-lat="{{ comedor.latitud }}" data-lon="{{ comedor.longitud }}">{{comedor.nombre}}</h1>
	<p class="coolFont">Bienvenido moderador {{ usuario.nombre }} {{ usuario.apellido }}</p>
{% endblock %}

{% block extraMenu %}
	<li><a href="#AgregarPlatillos">Menu del Dia</a></li>
	<li><a href="#Estadisticas">Estadisticas</a></li>
{% endblock %}

{% block contenido %}
<div class="row contenidoSesionComed" id="inicio">
	<div class="col-md-6 col-lg-6">
		<table class="table table-hover">
		    <thead>
		      <tr>
		        <th colspan="2" class="tabla-tit">Información del Comedor</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr id="row-desc">
		        <td class="comd-info">Descripción</td>
		        <td id="InfoDesc">{{comedor.descripcion}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Horario</td>
		        <td id="InfoHora">{{comedor.hora_ini|time:'H:i'}} - {{comedor.hora_fin|time:'H:i'}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Tipo</td>
		        <td id="InfoTipo">{{ comedor.tipo }}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Facultad</td>
		        <td id="InfoFacTNombre">{{ comedor.facultad.nombre }}</td>
		      </tr>
		      <tr>
		      	<td></td>
		      	{% if comedor.ayudantes == True %}
		      	<td id="InfoAyudantes">Se aceptan ayudantes</td>
		      	{% else %}
		      	<td id="InfoAyudantes">No se aceptan ayudantes</td>
		      	{% endif %}
		        
		      </tr>
		    </tbody>
		  </table>
		<!-- EDITAR -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarForm">
			<span class="glyphicon glyphicon-pencil"></span> Actualizar Información
		</button>
		<!-- EDITAR FORM MODAL -->
		<div class="modal fade" id="editarForm" tabindex="-100" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Editar Perfil del Comedor</h4>
					</div>
					<form>
						<div class="modal-body">
							<!-- FORMULARIO -->
							<div class="form-group">
								<label>Descripción:</label>
								<textarea class="form-control" rows="3" id="Act-descripcion" placeholder="Hablanos de tu restaurante" required="required">{{comedor.descripcion}}</textarea>
							</div>
							<div class="form-group">
								<label>Tipo:</label>
								<input type="text" class="form-control" id="Act-especialidad" placeholder="Almuerzos, Comida tipica, ..." required="required" value="{{ comedor.tipo }}">
							</div>
							<div class="form-group">
								<label>Facultad:</label>
								<select class="form-control" id="Act-facultad">
								{% for facultad in facultades %}
									{% if facultad != None%}
									<option>{{ facultad.nombre }}</option>
									{% endif %}
								{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Hora de Inicio:</label>
								<input type="time" id="Act-horaInicio" class="form-control" required="required" value="{{comedor.hora_ini|time:'H:i'}}">

							</div>
							<div class="form-group">
								<label>Hora de Cierre:</label>
								<input type="time" id="Act-horaCierre" class="form-control" required="required" value="{{comedor.hora_fin|time:'H:i'}}">
							</div>
							<div class="checkbox" id="Act-ayudantes">
								<label><input type="checkbox" id="ayudantes" data-toggle="toggle">  Aceptamos Ayudantes</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ActualizarPerfil()">Guardar Cambios</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- UBICACION -->
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editarUbicacion">
			<span class="glyphicon glyphicon-map-marker"></span> Cambiar ubicación
		</button>
		<!-- EDITAR UBICACION MODAL -->
		<div class="modal fade" id="editarUbicacion" tabindex="-100" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Editar Ubicación</h4>
					</div>
					<form>
						<div class="modal-body">
							<!-- FORMULARIO -->
							<div id="nuevaUbicacion" style="height: 300px; width: 100%;"></div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-success" onclick="setUbicacion()">Ubicacion Actual</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarNuevaUbicacion({{ comedor.latitud }},{{ comedor.longitud }})">Guardar Nueva Ubicacion</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<h4 class="tabla-tit"><b>Ubicación</b></h4>
		<div>
			<div id="miUbicacion" style="height: 300px; width: 100%;"></div>
		</div>
	</div>
</div>
<hr class="coolHr">
<div class="row contenidoSesionComed" id="AgregarPlatillos">
	<div class="col-md-6 col-lg-6">
		<h4 class="tabla-tit">Nuevo Platillo</h4>
		<form class="form-horizontal" style="width: 80%" action="{% url 'FoodFinder:crearPlatillo' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		  <div class="form-group">
		    <label class="control-label col-sm-4">Titulo del Platillo:</label>
		    <div class="col-sm-8">
		      <input type="text" name="titulo" class="form-control" required="required">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-4">Tipo:</label>
		    <div class="col-sm-8"> 
		      <input type="text" name="tipo" class="form-control" placeholder="Alumerzo, desayuno, postre, etc.." required="required">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-4">Precio:</label>
		    <div class="col-sm-8"> 
		      <input type="text" name="precio" class="form-control" placeholder="en dólares" required="required">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-4">Cantidad disponible:</label>
		    <div class="col-sm-8"> 
		      <input type="number" name="cantidad" class="form-control" required="required">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-4">Imagen:</label>
		    <div class="col-sm-8"> 
		      <input type="file" name="imagenPlato" class="form-control" id="#plato-image" placeholder="Alumerzo, desayuno, postre, etc.." required="required">
		    </div>
		  </div>
		  <input type="hidden" name="comedor" value="{{ comedor.pk }}">
		  <div class="form-group"> 
		    <div class="col-sm-offset-10 col-sm-3">
		      <button type="Submit" class="btn btn-default">Guardar</button>
		    </div>
		  </div>
		</form>
	</div>
	<div class="col-md-6 col-lg-6">
		<h4 class="tabla-tit">Platillos disponibles</h4>
		<div class="platillos">
			{% for plato in platillos %}
			<div class="plato-neo row">
				<div class="imgenneo col-md-5" style="width: 35%">
				{% if  plato.imgPlatillo %}
					<img src="{{ plato.imgPlatillo.url }}" alt="logo" width="200" height="150" />
				{% endif %}
				</div>
				<div class="col-md-5">
					<h4 class="coolFont">{{plato.titulo}}</h4>
					<ul style="list-style: none">
						<li><img src="http://www.iconsdb.com/icons/preview/black/banknotes-xxl.png" width="20" /></span> <b>Precio:</b> ${{plato.precio}}</li>
						<li><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/551389-200.png" width="20" /></span> <b>Tipo: </b> {{plato.tipo}}</li>
						<li><span class="glyphicon glyphicon-star"></span> <b>Valoracion: </b>{{plato.valoracion}}</li> 
					</ul>
				</div>
				<div class="col-md-2" style="margin-top: 10%">
					<a href="eliminarPlatillo/{{ plato.pk }}">
					<button type="button" class="btn btn-default btn-sm btn-danger" >
			          <span class="glyphicon glyphicon-remove"></span> Eliminar 
			        </button>
			        </a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<hr class="coolHr">
<div class="row contenidoSesionComed" id="Estadisticas">
	<div class="col-md-11 col-lg-11">
		<h1 class="tabla-tit">Estadisticas</h1>
		<div id="piechart" style="width: 900px; height: 500px;"></div>
	</div>
</div>

{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static "js/sesion-comed.js" %}"></script>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuKMTTgBEGbT5Ry3SNsBr2rUy2aLpb4Rw&callback=initMap">
</script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Facultad', 'Usuarios'],
          {% for key,value in facultades.items %}
	          {% if key %}
	          	['{{ key }}', {{ value }}],
	          {% endif %}
		  {% endfor %}
        ]);

        var options = {
          title: 'Clientes por Facultad'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
