{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Valoración de los platillos{% endblock %}
{% block extraStyle %}
<link href="{% static "css/sesion-cliente.css" %}" rel="stylesheet">
{% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-11" id="informacion">
        <table class="table table-hover">
		    <thead>
		      <tr>
		        <th colspan="2" class="tabla-tit">Información de Contacto</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="comd-info">Nombre</td>
		        <td id="nombreU">{{usuario.nombre}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Apellido</td>
		        <td id="apellidoU">{{usuario.apellido}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Correo</td>
		        <td id="correoU">{{usuario.correo}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Facultad</td>
		        <td id="facultadU">{{ usuario.facultad.nombre }}</td>
		      </tr>
		      <tr>
		      	<td class="comd-info">Rol</td>
		      	<td id="rolU">{{ usuario.rol }}</td>
		      </tr>
		    </tbody>
		  </table>
        <!--a href="{% url 'FoodFinder:modificarUsuario' %}">modificar</a-->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarForm">
            <span class="glyphicon glyphicon-pencil"></span> Editar perfil
        </button>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-11" id="enlaces">
        <h5>Enlaces</h5>
        <a href="{% url 'FoodFinder:valoracion' %}">Valorar platillos</a><br>
        <a href="{% url 'FoodFinder:denuncia' %}">Enviar una denuncia</a>
    </div>

    <!-- EDITAR FORM MODAL -->
    <div class="modal fade" id="editarForm" tabindex="-100" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Editar Perfil</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <!-- FORMULARIO -->

                        <div class="form-group">
                            <input class="form-control" type="hidden" id="usuarioId" name="usuarioId" value="{{usuario.id}}"/>
            				<label>Nombre:</label>
                            <input class="form-control" type="text" id="nombre" name="nombre" value="{{usuario.nombre}}" maxlength="16"/>
            			</div>
                        <div class="form-group">
            				<label>Apellido:</label>
            				<input class="form-control" type="text" id="apellido" name="apellido" value="{{usuario.apellido}}" maxlength="16"/>
            			</div>
                        <div class="form-group">
            				<label>Correo:</label>
            				<input class="form-control" type="text" id="correo" name="correo" value="{{usuario.correo}}"/>
            			</div>
                        <div class="form-group">
            				<label>Facultad:</label>
            				<select class="form-control" id="facultad" name="facultad">
            					{% for f in facultades %}
                                {% if f.nombre == usuario.facultad.nombre %}
            					<option value="{{ f.nombre }}" selected>{{ f.nombre }}</option>
                                {% else %}
                                <option value="{{ f.nombre }}">{{ f.nombre }}</option>
                                {% endif %}
            					{% endfor %}
            				</select>
            			</div>
                        <div class="form-group">
            				<label>Rol:</label>
            				<select class="form-control" id="rol" name="rol">
                                {% if "Docente" == usuario.rol %}
                                <option selected>Docente</option>
                                {% else %}
                                <option>Docente</option>
                                {% endif %}
                                {% if "Estudiante" == usuario.rol %}
                                <option selected>Estudiante</option>
                                {% else %}
                                <option>Estudiante</option>
                                {% endif %}
                                {% if "Trabajador" == usuario.rol %}
                                <option selected>Trabajador</option>
                                {% else %}
                                <option>Trabajador</option>
                                {% endif %}
            				</select>
            			</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="EditarPerfil()">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block ExtraScript %}
<script src="{% static "js/sesion-cliente.js" %}"></script>
{% endblock %}
{% endblock %}
