{% extends "FoodFinder/BaseSesion.html" %}
{% load static %}
{% block titulo %}Administrador{% endblock %}
{% block ExtraStyle %}
<link href="{% static "css/estilo-sesion-comedor.css" %}" rel="stylesheet">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block Encabezado %}
	<h1 class="comedorAdmin" data-pk="{{ comedor.pk }}">{{comedor.nombre}}</h1>
	<p>Bienvenido moderador {{ usuario.nombre }} {{ usuario.apellido }}</p>
{% endblock %}
{% block contenido %}
<div class="row contenidoSesionComed">
	<div class="col-md-6 col-lg-6">
		<table class="table table-hover">
		    <thead>
		      <tr>
		        <th colspan="2" class="tabla-tit">Información del Comedor</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td class="comd-info">Descripción</td>
		        <td id="InfoDesc">{{comedor.descripcion}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Horario</td>
		        <td id="InfoHora">{{comedor.hora_ini}} - {{comedor.hora_ini}}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Tipo</td>
		        <td id="InfoTipo">{{ comedor.tipo }}</td>
		      </tr>
		      <tr>
		        <td class="comd-info">Facultad</td>
		        <td id="InfoFacTNombre">{{ comedor.facultad.nombre }}</td>
		      </tr>
		      <tr>
		      	<td></td>
		      	{% if comedor.ayudantes == True %}
		      	<td id="InfoAyudantes">Se aceptan ayudantes</td>
		      	{% else %}
		      	<td id="InfoAyudantes">No se aceptan ayudantes</td>
		      	{% endif %}
		        
		      </tr>
		    </tbody>
		  </table>
		<!-- EDITAR -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarForm">
			<span class="glyphicon glyphicon-pencil"></span> Actualizar Información
		</button>
		<!-- EDITAR FORM MODAL -->
		<div class="modal fade" id="editarForm" tabindex="-100" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4>Editar Perfil del Comedor</h4>
					</div>
					<form>
						<div class="modal-body">
							<!-- FORMULARIO -->
							<div class="form-group">
								<label>Descripción:</label>
								<textarea class="form-control" rows="3" id="Act-descripcion" placeholder="Hablanos de tu restaurante" required="required">{{comedor.descripcion}}</textarea>
							</div>
							<div class="form-group">
								<label>Tipo:</label>
								<input type="text" class="form-control" id="Act-especialidad" placeholder="Almuerzos, Comida tipica, ..." required="required" value="{{ comedor.tipo }}">
							</div>
							<div class="form-group">
								<label>Facultad:</label>
								<select class="form-control" id="Act-facultad">
								{% for facultad in facultades %}
									{% if facultad != None%}
									<option>{{ facultad.nombre }}</option>
									{% endif %}
								{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Hora de Inicio:</label>
								<input type="time" class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Hora de Cierre:</label>
								<input type="time" class="form-control" required="required">
							</div>
							<div class="checkbox" id="Act-ayudantes">
								<label><input type="checkbox" id="ayudantes" data-toggle="toggle">  Aceptamos Ayudantes</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ActualizarPerfil()">Guardar Cambios</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block ExtraScript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static "js/sesion-comed.js" %}"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Facultados', 'Usuarios'],
  {% for f,n in facultades.items %}
  ['{{f.nombre}}',{{n}}],
  {% endfor %}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
{% endblock %}
