<!Doctype html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FoodFinder - {% block titulo %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static "img/caterin.ico" %}" />
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "css/estilo.css" %}" rel="stylesheet">
		<link href="{% static "css/est-comed.css" %}" rel="stylesheet">
		{% block extraStyle %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default sidebar">
			<div id="franja"></div>
			<div class="container-fluid">
				<div class="navbar-header">
					<div id="food-logo" >
						<a href="index.html"><img src="{% static "img/logo-v.png" %}" alt="logo" width="150" /></a>
					</div>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1" >
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<div class="dropdown">
						  <button class="dropbtn"><span class="glyphicon glyphicon-user"></span> {{usuario.nombreUsu}}</button>
						  <div class="dropdown-content" id="perfil">
						    <a href="{% url 'FoodFinder:cliente'%}">Ver perfil</a>
						  </div>
						</div>

						<li><a href="{% url 'FoodFinder:index'%}">Inicio</a></li>
						<li><a href="{% url 'FoodFinder:galeria'%}">Galeria de Platillos</a></li>
						<li><a href="{% url 'FoodFinder:comedoresC'%}">Comedores Cercanos</a></li>
						<li><a href="{% url 'FoodFinder:comedoresF' %}">Comedores por Facultad</a></li>
						<li><a href="{% url 'FoodFinder:mejoresPlatos' %}">Mejores Platos</a></li>
						<li><a href="{% url 'FoodFinder:about' %}">Nosotros</a></li>
						<li><a href="{% url 'FoodFinder:contacto' %}"> Contacto </a></li>
						<li><a href="{% url 'FoodFinder:historia' %}">Nuestra historia</a></li>
						<li><a href="{% url 'FoodFinder:cerrarSesion'%}"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
			<div id="encabezado">
				<h1> Conoce tus opciones </h1>
				<h3> COMEDORES DE LA ESPOL </h3>
			</div>
			{% block contenido %}{% endblock %}
		</div>
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		{% block extraScript %}{% endblock %}
	</body>
</html>
