{% extends "FoodFinder/SideBar_base.html" %}
{% load static %}
{% block titulo %}Valoración de los platillos{% endblock %}
{% block extraStyle %}
<link href="{% static 'css/valoracion.css' %}" rel="stylesheet">
{% endblock %}
{% block contenido %}
<div class="container">
    <h1 id="titulo">Valoraciones de platillos</h1>
    {% for comedor,platillos in platillosDic.items %}
    <div class="row">
        <h3 class="comedores">{{ comedor }}</h3>
        {% for platillo in platillos %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <img class="comida" src="{% static platillo.imagen %}">
            <figcaption>{{ platillo.titulo }}</figcaption>
            <span class="starRating" id_p='{{plato.id}}'>
                <input id="rating5{{plato.id}}" type="radio" name="rating{{plato.id}}" value="1" style="display: none">
                <label for="rating5{{plato.id}}"><span class="glyphicon glyphicon-star"></span></label>
                <input id="rating4{{plato.id}}" type="radio" name="rating{{plato.id}}" value="2" style="display: none">
                <label for="rating4{{plato.id}}"><span class="glyphicon glyphicon-star"></span></label>
                <input id="rating3{{plato.id}}" type="radio" name="rating{{plato.id}}" value="3" style="display: none">
                <label for="rating3{{plato.id}}"><span class="glyphicon glyphicon-star"></span></label>
                <input id="rating2{{plato.id}}" type="radio" name="rating{{plato.id}}" value="4" style="display: none">
                <label for="rating2{{plato.id}}"><span class="glyphicon glyphicon-star"></span></label>
                <input id="rating1{{plato.id}}" type="radio" name="rating{{plato.id}}" value="5" style="display: none">
                <label for="rating1{{plato.id}}"><span class="glyphicon glyphicon-star"></span></label>
            </span>
        </div>

        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block extraScript %}
<script src="{% static 'js/valorar.js' %}"></script>
{% endblock %}