.comentario {
    background-color: rgba(24, 186, 163, 0.17);
    border: 1px solid #18baa3;
    padding: 2px 5px;
    margin-bottom: 10px;
}
button{
    float: right;
}
#div_editar{
    display: none;
}
#info{
    margin-left: 20px;
    color: #18baa3;
}
.editarComentario{
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: rgba(24, 186, 163, 0);
    background-color: #18baa3;
}
.contenido{
    margin-right: 15px;
    margin-left: 15px;
}
