.container {
	padding: 0px 10px;
	margin-bottom: 20px;
}

#comedores > div.comedor {
	height: 320px;
    background-color: white;
    width: 24%;
    border: 1px solid gray;
    margin: 5px 5px;
}

.nombre {
	height: 60px;
	font-family: 'Josefin Slab', serif;
	color: #d60651;
}

#titulo {
	text-align: center;
	font-family: 'Pacifico';
	color: #d60651;
	padding: 15px 0px;
}

.horario {
	height: 50px;
}

p {
	font-size: 16px;
	font-family: 'Josefin Slab', serif;
}

.logo-facultad {
	height: 76px;
	width: 100%;
	margin-top: 10px;
}

@media only screen and (max-width: 1032px){

	#comedores > div.comedor {
		width: 32%;
		height: 300px;
	}
	
	.horario {
		height: 30px;
	}

}

@media only screen and (max-width: 855px){

	#comedores > div.comedor {
		width: 32%;
		height: 320px;
	}
	
	.horario {
		height: 50px;
	}

}

@media only screen and (max-width: 785px){

	#comedores > div.comedor {
		width: 31%;
	}

}
	
@media only screen and (max-width: 742px){

	#comedores > div.comedor {
		height: 340px;
	}

	.tipo {
		height: 45px;
	}

}

@media only screen and (max-width: 580px){

	#comedores > div.comedor {
		width: 48%;
		height: 320px;
	}

	.tipo {
		height: 25px;
	}

	.horario {
		height: 30px;
	}

}

@media only screen and (max-width: 560px){

	.horario {
		height: 50px;
	}

}

@media only screen and (max-width: 535px){

	#comedores > div.comedor {
		width: 46%;
		height: 320px;
	}

	.horario {
		height: 50px;
	}

}

@media only screen and (max-width: 535px){

	#comedores > div.comedor {
		width: 98%;
		height: 300px;
	}

	.horario {
		height: 30px;
	}

}