.container{
    width: 100%;
    margin-bottom: 20px;
}

.comida {
	height: 176px;
	width: 100%;
}

.comedores {
	padding: 0px 15px;
	font-family: 'Pacifico';
	color: #d60651;
}

#titulo {
	text-align: center;
	padding: 0px 15px;
	font-family: 'Pacifico';
	color: #d60651;
	padding: 15px 0px;
}